*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Moderate_Blue: hsl(238, 40%, 52%);
    --Soft_Red: hsl(358, 79%, 66%);
    --Light_Grayish_Blue: hsl(239, 57%, 85%);
    --Pale_Red: hsl(357, 100%, 86%);

    --Dark_Blue: hsl(212, 24%, 26%);
    --Grayish_Blue: hsl(211, 10%, 45%);
    --Light_Gray: hsl(223, 19%, 93%);
    --Very_Light_Gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-size: 16px;
    padding: 1em;
    font-family: 'Rubik', sans-serif;
    background-color: var(--Light_Gray);
}
.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 0.7em;
    border-radius: 0.5em;
    background-color: var(--White);
}
.content .comment{
    flex: 1 1 100%;
}
.comment{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    color: var(--Grayish_Blue);
    font-weight: 400;
}
.comment img{
    width: 0.1rem;
    flex: 1 1 14%;
}
.comment span{
    flex: 1 1 43%;
    display: flex;
    align-items: center;
}
#user_name{
    color: var(--Dark_Blue);
    font-weight: 700;
    padding-left: 0.5em;
}
.comment p{
    flex: 1 1 100%;
    margin:0.5em 0;
    font-size: 1.1rem;
}
.content .count{
    flex: 1 1 50%;
    display: flex;
}
.content .count button{
    background-color: var(--Very_Light_Gray);
    color: var(--Light_Grayish_Blue);
    border: none;
    font-size: 1.2rem;
    padding: 0.2em 0.7em;
}
.content .count button:first-child{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.content .count button:last-child{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.content .count span{
    font-size: 1.2rem;
    background-color: var(--Very_Light_Gray);
    color: var(--Moderate_Blue);
    display: flex;
    align-items: center;
    font-weight: 500;
}
.content .reply{
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content .reply button{
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: var(--Moderate_Blue);
    font-weight: bold;
    border: none;
    background: white;
}
.content .reply button>*{
    margin-left: 0.7em;
}

@media screen and (min-width:550px){
    .content{
        max-width: 850px;
        position: relative;
        padding: 1em;
    }
    .content .comment{
        order: 2;
        flex: 1 1 85%;
    }
    .comment img{
        max-width: 45px;
    }
    .comment span{
       max-width: 100px;
       margin-left: 1em;
    }
    .comment p{
        font-size: 1.3rem;
        line-height: 1.1em;
    }
    .content .count{
        order: 1;
        flex: 1 1 7%;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 1em;
        max-width: 45px;
    }
    .content .count button{
        font-size: 1.6rem;
        padding: 0.5em 0.7em;
    }
    .content .count button:first-child{
        border-bottom-left-radius: 0em;
        border-top-right-radius: 0.5em;
    }
    .content .count button:last-child{
        border-top-right-radius: 0em;
        border-bottom-left-radius: 0.5em;
    }
    .content .count span{
        justify-content: center;
    }
    .content .reply{
        order: 3;
        flex: 1 1 10%;
        position: absolute;
        right: 2em;
        top: 1.75em;
    }
    
}