*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Moderate_Blue: hsl(238, 40%, 52%);
    --Soft_Red: hsl(358, 79%, 66%);
    --Light_Grayish_Blue: hsl(239, 57%, 85%);
    --Pale_Red: hsl(357, 100%, 86%);

    --Dark_Blue: hsl(212, 24%, 26%);
    --Grayish_Blue: hsl(211, 10%, 45%);
    --Light_Gray: hsl(223, 19%, 93%);
    --Very_Light_Gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}
body{
    font-size: 16px;
    padding: 1em;
    border: 1px solid black;
    font-family: 'Rubik', sans-serif;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 0.7em;
    border: 1px solid black;
    border-radius: 0.5em;
}
.content .comment{
    flex: 1 1 100%;
}
.comment{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}
.comment img{
    width: 0.1rem;
    flex: 1 1 14%;
}
.comment span{
    flex: 1 1 43%;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.comment p{
    flex: 1 1 100%;
    margin:0.5em 0;
    font-size: 1.1em;
}
.content .count{
    flex: 1 1 50%;
    display: flex;
}
.content .count button{
    background-color: gray;
    border: none;
    font-size: 1.2rem;
    padding: 0.2em 0.7em;
}
.content .count button:first-child{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.content .count button:last-child{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.content .count span{
    font-size: 1.2rem;
    background-color: gray;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.content .reply{
    flex: 1 1 50%;
    text-align: right;
    align-self: center;
}

.content .reply button{
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    background: white;
}